<div class="container-fluid">
  <h2 class="text-center">Add a new Quote</h2>
  <hr>


    <form (ngSubmit)="quoteForm.form.valid && submitQuote();
      quoteForm.resetForm({});
      closeModal()" #quoteForm='ngForm'>
      <div class="form-group">

        <label for="quote">Quote</label>
        <textarea  class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote" #quote='ngModel' required></textarea>
        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
          <p>The Quote is required</p>
        </div>
      </div>

      <div class="form-group">

        <label for="authorName"> Author Name</label>
        <input type="text" class="form-control" id="authorName" [(ngModel)]="newQuote.authorName" name="authorName" #name='ngModel' required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>Author's Name is required</p>
        </div>
      </div>

      <div class="form-group">

        <label for="submittedBy"> Your Name</label>
        <input type="text" class="form-control" id="submittedBy" [(ngModel)]="newQuote.submittedBy" name="submittedBy" #name='ngModel' required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>Author's Name is required</p>
        </div>
      </div>

      <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
</div>



