<div class="nav" xmlns="http://www.w3.org/1999/html">
<app-navbar></app-navbar>
</div>
<div class="container">
  <div class="row">
    <div  class="card-body col-8">

      <ul *ngFor='let quote of quotes;let i = index'>
      <div *ngIf="highest()===quote.upvote && quote.upvote>0;then highlight else empty">
      </div>
        <ng-template #highlight>
          <li appHighlighter>"{{quote.quote}}"</li>

        </ng-template>

        <ng-template #empty>
          <li>"{{quote.quote}}"<br>
          </li>
        </ng-template>
        <p id="author">Author: {{quote.authorName}}</p>
        {{quote.upvote}}  {{quote.downvote}}
        <div class="card-footer">
          <button (click)="startTimer()">Time</button>
          <span class="timer">{{counter|timer}} Hours</span>
          <button (click)='toggleDetails(i)' class=" btn btn-outline-info">Quote Details</button>

        </div>

        <app-quotes-details *ngIf="quote.showDescription" [quotes]='quote' (isComplete)= 'quotesDelete($event,i)'></app-quotes-details>
      </ul>

    </div>

    <div class="col-4">
      <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
    </div>
  </div>
</div>
<app-footer></app-footer>
