<div class="nav" xmlns="http://www.w3.org/1999/html">
<app-navbar></app-navbar>
</div>
<!--<div class="container">-->
  <div class="row">
    <div  class="card-body col-sm-8 ">
      <div class="row">
      <ul *ngFor='let quote of quotes;let i = index' class="col-sm-6">
      <div *ngIf="highest()===quote.upvote && quote.upvote>0;then highlight else empty">
      </div>
        <ng-template #highlight>
          <blockquote class="blockquote mb-0">
          <li appHighlighter>"{{quote.quote}}"</li>
          </blockquote>
        </ng-template>

        <ng-template #empty>
          <blockquote class="blockquote mb-0">
          <li>"{{quote.quote}}"</li>
          </blockquote>
        </ng-template>
        <footer class="blockquote-footer pt-3">Author: {{quote.authorName}}<cite title="Source Title">
          <span id="upvote">Upvote: {{quote.upvote}}</span>
         <span id="downvote">Downvote: {{quote.downvote}}</span>
        </cite></footer>

        <div class="card-footer">
<!--          <p ></p>-->
<!--         <button ("click",startTimer);></button>-->
          <button (click)="startTimer()">Time</button>
          <span>{{counter|timer}} Hours</span>
          <button (click)='toggleDetails(i)' class=" btn btn-outline-info" id="toggle">Quote Details</button>

        </div>

        <app-quotes-details *ngIf="quote.showDescription" [quotes]='quote' (isComplete)= 'quotesDelete($event,i)'></app-quotes-details>
      </ul>
      </div>


    </div>

    <div class="col-sm-4">
      <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
    </div>
  </div>
<!--</div>-->
<app-footer></app-footer>
