.Source{
  margin-left: 5%;
}
#upvote{
  margin-left: 10%;
  color: rgb(66,142,50);
}
#downvote{
  margin-left: 5%;
  color: rgb(199,54,30);
}
.row{
  margin-top: 5%;
}
.btn{
  margin-top: 2%;
}
.timer{
  text-align: right;
  padding-left: 10%;
}
li{
  list-style: none;
}

